body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #be2323;
}

header {
    background: #26770e;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

button {
    background-color: #b85ca6;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4cae4c;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    margin: 20px 0;
}

.footer {
    background: #fff3de;
    color: #fff3de;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}